.navbar {
  background: linear-gradient(rgba(50,50,50,0.7), rgba(50,50,50,0.1));
}

.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.card {
  height: 40vh;
}

.card-body {
  padding-top: 30px;
}

@media (max-width: 767.98px){
  .carousel-item>img {
    height: 80vh;
    background: no-repeat center center scroll;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
  }

  #mainNav.navbar {
    background: linear-gradient(rgba(50,50,50,0.7), rgba(50,50,50,0.1));
  }
  #mainNav.navbar-shrink {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #212529;
  }
}
